@import "~react-image-gallery/styles/css/image-gallery.css";
.PortfolioItemWrap{
    margin-top: 3em;
    padding: 3em 2em;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-blue);
    border-radius: var(--radius12);
}
.PortfolioItemTitle{
    font-size: var(--font-bear);
    color: var(--white);
    max-width: fit-content;
    text-align: center;
    align-self: center;
}
.PortfolioItemDescription{
    padding: 2em;
    margin-bottom: 1.5em;
    font-size: var(--dog);
    color: var(--white);
}
.PortfolioItemImgWrap{
    padding: 2em;
}
@media screen and (max-width: 575px){
    .PortfolioItemWrap{
        padding: 3em 0.5em;
    }
  }