.ServicesWrap {
  padding: 3em 7em;
  background-color: var(--dark-blue);
}

.ServicesTitleWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ServicesTitle {
  font-size: var(--font-bear);
  color: var(--white);
  max-width: fit-content;
  overflow: hidden;
  border-right: 0.1em solid var(--gold);
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 4s steps(40, end) infinite,
    blink-caret 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--gold);
  }
}
.ServicesTitleText {
  max-width: 700px;
  font-size: var(--font-cat);
  text-align: center;
  color: var(--white);
  font-weight: lighter;
  margin: 1.5em 0;
}

.ServicesItemsWrap {
  padding: 2em 10em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.ServicesItem {
  flex-basis: 33.33%;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.ServicesItemIcon {
  height: 4em !important;
  width: 4em !important;
  color: var(--gold);
}
.ServicesItemTitle {
  font-size: var(--font-dog);
  font-weight: bold;
  color: var(--white);
  letter-spacing: var(--letter-spacing-1);
}
.ServicesItemText {
  font-size: var(--font-cat);
  text-align: center;
  font-weight: lighter;
  color: var(--gold);
  padding: 0 1em;
}

@media screen and (max-width: 575px) {
  .ServicesWrap {
    padding: 3em 1em;
  }
  .ServicesItemsWrap {
    padding: 2em 0em;
  }
}
@media screen and (max-width: 993px) and (min-width: 576px) {
  .ServicesItemsWrap{
    padding: 0;
  }
}