
.ant-menu-item a::before {
  display: none;
}
.ant-menu-item:active,
.ant-menu-submenu-title:active {
  background: transparent !important;
}

.ant-message{
  z-index: 9999999 !important;
}

.custom-ant-btn {
  font-size: var(--font-dog);
  border-radius: var(--radius2) !important;
  background-color: transparent !important;
  color: var(--white) !important;
  outline: none !important;
  border: 2px solid var(--gold) !important;
  height: auto;
}
.custom-ant-btn::after {
  box-shadow: none !important;
}
.custom-ant-btn:hover {
  border-radius: var(--radius2) !important;
  background-color: var(--gold) !important;
  color: var(--dark-blue) !important;
  outline: none !important;
  border: 2px solid transparent !important;
}

.PortfolioTabPanel .ant-tabs-ink-bar {
  background-color: var(--gold);
  height: 5px !important;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.ant-tabs-tab{
  color: var(--white);
  font-size: var(--font-wolf) !important;
}

.PortfolioTabPanel .ant-tabs-tab-active > div, .ant-tabs-tab:hover,  .PortfolioTabPanel .ant-tabs-tab-btn:focus{
  color: var(--gold) !important;
}

.PortfolioTabPanel  .ant-tabs-nav::before{
  border-bottom: 2px solid var(--gold) !important;
}